.card {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    color: white;
    text-align: left;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .cardImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .cardContent {
    padding: 20px;
  }
  
  .cardTitle {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .cardDate {
    font-size: 1rem;
    color: #ccc;
    margin: 5px 0;
  }
  
  .cardDescription {
    font-size: 1rem;
    margin-top: 10px;
  }