.container {
    /* background-image: Reemplaza con la URL de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  .content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }