.container {
    background-image: url('/register.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  
 